</main>
<footer class="p-3 mt-aut bg-dark text-light">
  <img src="\img\csumb-logo-white-trans.png">
  <div>
    CST336 Internet Programming. 2021&copy; Shum <br />
    California State University Monterey Bay
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/functions.js"></script>
</body>

</html>