<%- include("partials/header.ejs") %>

    <div class="jumbotron p-5">
      <h1 class="display-4">Cool Images</h1>
      <br>
      <form action="/search">
        <input class="form-control" type="text" placeholder="Type keyword" name="keyword" />
        <br />
        <button class="btn btn-primary">Search</button>
      </form>
    </div>

<%- include("partials/footer.ejs") %>
